.env

# Node.js関連
node_modules/
package-lock.json
.next/
dist/
.cache/
*.tsbuildinfo

# Python関連
__pycache__/
*.pyc
.venv/
.python-version
.pytest_cache/

# CDK関連
cdk.out/

# Streamlit関連
.streamlit

# macOS
.DS_Store

# 個人の勉強用メモ
takaesu-note/
